*{
    text-decoration: none;
    overflow: auto;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: purple;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}


main{
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

h1{
    text-align: center;
    color: green;
    width: 100%;margin: 0;font-size: 5em;
}
#display{
    width: 80%;
    margin-left: auto;margin-right: auto;
    background-color: rgba(0, 0, 0, 0.61);
    color: silver;
    text-align: center;
    border: 5px solid whitesmoke;
    height: 2em;
}
input{
    height: 4em;
}
button{
    width: 5%;
    background-color: green;
    color: white;
    font-size: 2em;
}


.item{
    width: 100%;
    text-align: center;
}
main > p{
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: greenyellow;
    font-size: 3em;
}
main > button{
    display: block;
    width: 20%;
    margin: 5% auto;
    border-radius: 32px;
}

